<div class="container">
  <div class="row col-6 col-md-4" style="padding-top:20px">
    <div class="alert alert-danger" *ngIf="errorDisplay">{{errorData}}</div>
    <form [formGroup]="addParentTaskForm" (ngSubmit)="onSubmit()">

      <!-- Parent Task -->
      <div class="form-group">
        <input type="text" class="form-control" name='atask3' formControlName="parentTaskName"
          [ngClass]="{ 'is-invalid': submitted && f.parentTaskName.errors }" id="formGroupExampleInput"
          placeholder="Parent Task">
        <div *ngIf="submitted && f.parentTaskName.errors" class="invalid-feedback">
          <div *ngIf="f.parentTaskName.errors.required">Parent Task Name is required</div>
        </div>
      </div>

      <!-- Let's Submit -->
      <button type="submit" class="btn btn-info btn-sm" style="margin-right:20px">Add Parent</button>
    </form>
  </div>
</div>