<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <hr> -->
<div class="container">
  <button type="button" class="btn btn-outline-info add" style="margin-right:20px;" (click)="toggle()">Add Task</button>
  <button type="button" class="btn btn-outline-info">View Task</button>
</div>
<ng-container *ngIf="show">
  <app-add-task></app-add-task>
</ng-container>
<div style="margin-top:20px">
  <app-view-task></app-view-task>
</div>
<router-outlet></router-outlet>
