<div class="container">
  <button type="submit" class="btn btn-outline-success btn-sm" style="margin-right:20px; margin-top:20px;" (click)="decideParentChild()">{{taskPorC}}</button>
</div>
<ng-container *ngIf="show">
  <div class="container">
    <app-add-parent></app-add-parent>
  </div>
</ng-container>
<ng-container *ngIf="hide">
<div class="container">
  <div class="row col-6 col-md-4" style="padding-top:20px">
    <div class="alert alert-danger" *ngIf ="errorDisplay">{{errorData}}</div>
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
      <!-- Task Name  -->
      <div class="form-group">
        <input type="text" class="form-control"  name='atask1' formControlName="taskName" [ngClass]="{ 'is-invalid': submitted && f.taskName.errors }"  id="formGroupExampleInput" placeholder="Task Title">
        <div *ngIf="submitted && f.taskName.errors" class="invalid-feedback">
          <div *ngIf="f.taskName.errors.required">Task Name is required</div>
        </div>
      </div>

      <!-- Priority  -->

      <div class="form-group">
        <label for="formControlRange">Priority</label>
        <input type="range" class="custom-range"  min="0" max="30" step="5"  name='atask2' formControlName="priority" [ngClass]="{ 'is-invalid': submitted && f.priority.errors }" id="formControlRange">
        <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
          <div *ngIf="f.priority.errors.required">Priority is required</div>
        </div>
      </div>

      <!-- Parent Task -->
      <div class="form-group">
        <input type="text" class="form-control"   name='atask3' formControlName="parentTaskName" [ngClass]="{ 'is-invalid': submitted && f.parentTaskName.errors }" id="formGroupExampleInput" placeholder="Parent Task">
        <div *ngIf="submitted && f.parentTaskName.errors" class="invalid-feedback">
          <div *ngIf="f.parentTaskName.errors.required">Parent Task Name is required</div>
        </div>
      </div>

      <!-- Start Date -->
      <div class="form-group">
        <input type="date" class="form-control"   formControlName="startDate" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" name='atask4'  id="formGroupExampleInput">
        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
          <div *ngIf="f.startDate.errors.required">start Date Name is required</div>
        </div>
      </div>

      <!-- End Date -->
      <div class="form-group">
        <input type="date" class="form-control"  name='atask5' formControlName="endDate" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" id="formGroupExampleInput">
        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
          <div *ngIf="f.endDate.errors.required">end Date Name is required</div>
        </div>
      </div>

      <!-- Let's Submit -->
      <button type="submit" class="btn btn-info btn-sm" style="margin-right:20px">Add Task</button>
      <button type="submit" class="btn btn-info btn-sm" (click)="resetTask()">Reset</button>
    </form>
  </div>
</div>
</ng-container>