<ng-container *ngIf="showEdit">
  <app-edittask></app-edittask>
</ng-container>
<div class="container">
<form class="form-style"> 
  <!-- Row 1 design -->
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputTask">Task</label>
      <input type="text" class="form-control" id="inputTask" [(ngModel)]="ChildTaskFilt"  name='ChildTaskFilt' placeholder="Task Name">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPTask">Parent Task</label>
      <input type="text" class="form-control" id="inputPTask" [(ngModel)]="parentTaskFilt" name='parentTaskFilt' placeholder="Parent Task Name">
    </div>  
  </div>
  <!-- Row 2 design -->
  <div class="form-group row">
    <div class="form-group col-md-2">
      <label for="inputStartPriority">Start Priority</label>
      <input type="number" class="form-control" [(ngModel)]="StartPriorityFilt" name='StartPriorityFilt' id="inputStartPriority" placeholder="Start priority">
    </div>
    <div class="form-group col-md-2">
      <label for="inputEndPriority">End Priority</label>
      <input type="number" class="form-control" [(ngModel)]="EndPriorityFilt" name='EndPriorityFilt' id="inputEndPriority" placeholder="End Priority">
    </div>
    <div class="form-group col-md-2">
      <label for="inputStartDate">Start Date</label>
      <input type="date" class="form-control" id="inputStartDate" [(ngModel)]="StartDateFilt" name='StartDateFilt' placeholder="Start Date">
    </div>
    <div class="form-group col-md-2">
      <label for="inputEndDate" class="col-form-label">End Date</label>    
      <input type="date" class="form-control" id="inputEndDate"  [(ngModel)]="EndDateFilt" name='EndDateFilt' placeholder="End Date">
    </div>    
  </div>  
</form>
<table class="table table-hover col-md-8 ">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Parent</th>
      <th scope="col">Priority</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let viewTask of vtask | childTaskFilter :ChildTaskFilt | parentTaskFilter :parentTaskFilt | dateRangeFilter : StartDateFilt : EndDateFilt | priorityFilter : StartPriorityFilt : EndPriorityFilt">
      <td>{{viewTask.taskName }}</td>
      <td>{{viewTask.parentTaskName}}</td>
      <td>{{viewTask.priority}}</td>
      <td>{{viewTask.startDate | date : 'shortDate'}}</td>
      <td>{{viewTask.endDate | date : 'shortDate'}}</td>
      <td><button class="btn btn-outline-info btn-sm"  (click)="pushToEdit(viewTask)">{{edit}}</button></td>
      <td><button class="btn btn-outline-info btn-sm" (click)="endTask(viewTask)">End</button></td>      
    </tr>
  </tbody>
</table>
<hr>
</div>